{%extends "main/main_base.html"%}

{% block head_css_page %}
  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}main/css/index.css">
{% endblock head_css_page %}


{%block content%}
<div class="container">
  <div class="row">
    <div class="span12">
      <section>
      <h3 class="subject-title">Subject 1</h3>

      <ul class="thumbnails">
        <li class="span3">
          <div class="thumbnail">
          <h3>Thumbnail label</h3>
          <p>Thumbnail caption</p>
          </div>
        </li>
      
      </ul>
      </section>

      <h3 class="subject-title">Subject 2</h3>
    </div>
  </div>  
</div>
{%endblock content%}